<div class="services-container">
    <div class="secondary-text">
        <span class="first-text">our services</span>
        <span class="second-text">we are professional in...</span>
    </div>

    <div class="primary-text">
        <span class="graph">graphics
            <div class="img-overlay">
                <%= image_tag 'services_svgs/products/graphics.svg', id: 'graph', alt: 'Graph Image'%>
            </div>
            <div class="hover-text">
                <h6>Branding, Logo, Prints, Book Illustrations, Ad design ...</h6>
            </div>
        </span>
        <span class="product">product
            <div class="img-overlay">
                <%= image_tag 'services_svgs/products/app.svg', id: 'product', alt: 'Product Image'%>
            </div>
            <div class="hover-text">
                <h6>UXUI, Mobile app, Web app, User research, Prototyping, Wireframing...</h6>
            </div>
        </span>
        <span class="develop">development
            <div class="img-overlay">
                <%= image_tag 'services_svgs/products/develop.svg', id: 'develop', alt: 'Development Image' %>
            </div>
            <div class="hover-text">
                <h6>Front end, Back end, Fullstack, Java, APIs, CSS, HTML...</h6>
            </div>
        </span>
        <span class="train">training
            <div class="img-overlay">
                <%= image_tag 'services_svgs/products/train.svg', id: 'train', alt: 'Training Image' %>
            </div>
            <div class="hover-text">
                <h6>UIUX, Graphics, Front End, Web Design, Back End...</h6>
            </div>
        </span>
        <span class="market">marketing
            <div class="img-overlay">
            <%= image_tag 'services_svgs/products/market.svg', id: 'market', alt: 'Marketing Image' %>
            </div>
            <div class="hover-text">
                <h6>SEO, Social media marketing, Optimization...</h6>
            </div>
        </span>
        <span class="video">video editing
            <div class="img-overlay">
                <%= image_tag 'services_svgs/products/editing.svg', id: 'video', alt: 'Video Editing Image' %>
            </div>
            <div class="hover-text">
                <h6>Video editing, Motion graphics, Explainer videos</h6>
            </div>
        </span>
    </div>
</div>

<div class="work-container">
    <div class="work-text">
    <span class="work-text-main">our works</span>
    <span class="work-text-sup">Norem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    </div>

    <div class="work-images">
        <div class="app">
            <%=image_tag("services_svgs/app.svg", alt: "mobile app", class: "size")%>
        </div>

        <div class="app app-change">
            <%=image_tag("services_svgs/develop.svg", alt: " App Develoment", class: "size")%>
        </div>

        <div class="app">
            <%=image_tag("services_svgs/graphics.svg", alt: "Graphics design", class: "size")%>
        </div>

        <div class="app">
            <%=image_tag("services_svgs/market.svg", alt: "Marketing Design", class: "size")%>
        </div>

        <div class="app app-change">
            <%=image_tag("services_svgs/training.svg", alt: "Training Design", class: "size")%>
        </div>

        <div class="app">
            <%=image_tag("services_svgs/editing.svg", alt: "Video Editing", class: "size")%>
        </div>

    </div>

</div>
