<div class="services-container">
    <div class="secondary-text">
        <span class="first-text">our services</span>
        <span class="second-text">we are professional in...</span>
    </div>

    <div class="primary-text">
        <span class="graph">graphics</span>
        <span class="product">product</span>
        <span class="develop">development</span>
        <span class="train">training</span>
        <span class="market">marketing</span>
        <span class="video">video editing</span>
    </div>

</div>

<div class="work-container">
    <div class="work-text">
    <span class="work-text-main">our works</span>
    <span class="work-text-sup">Norem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    </div>

    <div class="work-images">
        <div class="app">
            <%=image_tag("services_svgs/app.svg", alt: "mobile app", class: "size")%>
        </div>

        <div class="app app-change">
            <%=image_tag("services_svgs/develop.svg", alt: " App Develoment", class: "size")%>
        </div>

        <div class="app">
            <%=image_tag("services_svgs/graphics.svg", alt: "Graphics design", class: "size")%>
        </div>

        <div class="app">
            <%=image_tag("services_svgs/market.svg", alt: "Marketing Design", class: "size")%>
        </div>

        <div class="app app-change">
            <%=image_tag("services_svgs/training.svg", alt: "Training Design", class: "size")%>
        </div>

        <div class="app">
            <%=image_tag("services_svgs/editing.svg", alt: "Video Editing", class: "size")%>
        </div>
       
    </div>

</div>